<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Catan</title>
		<script src="{{ url_for('static', filename="css/main.css")}}"></script>
	</head>
	<body>
		<form method="POST"></form>
		<canvas id="canvas" ></canvas>
		<script src="{{ url_for('static', filename="js/board.js")}}"></script>
        <script src="{{ url_for('static', filename="js/game.js")}}"></script>
        <script src="{{ url_for('static', filename="js/location.js")}}"></script>
        <script src="{{ url_for('static', filename="js/main.js")}}"></script>
        <script src="{{ url_for('static', filename="js/player.js")}}"></script>
	</body>
</html>
